* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
min-height: 100vh;
  min-width: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  color: #000000;
  font-size: 1.2rem;
}

.form, .bloco {
  background-color: #f4f4f4;
border-radius: 10px;
 border:1px solid #31969d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: auto;
}

.bloco-email {
  background-color: #f4f4f4;
border-radius: 10px;
 border: 1px solid #31969d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: auto;
}

a {
  text-decoration: none;
  color:black;
}

.bloco, .bloco-email {
  padding: 10px;
}

input[type=text], input[type=password], input[type=number], input[type=email] {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #cbcbcb;
  background-color:#ffffff;
  box-sizing: border-box;
  border-radius: 10px;
}

input.inputID {
  width: 20%;
}

input.inputNOME {
  width: 50%;
}

.token {
  margin-top:60px;
  font-size: 1.3rem;
}

.h1 {
  display: flex;
  align-items: center;
  color: #000000;
  text-align: center;
  justify-content: center;
}

.btns-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}


.btns {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.btn {
  background-color: #ffffff;
  color: #000000;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  font-size: 17px;
  text-align: center;
  text-decoration: none;
  border: 1px solid #cbcbcb;
  width: 100%;
}

.button {
  background-color: #ffffff;
  color: #000000;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  font-size: 17px;
  text-align: center;
  text-decoration: none;
  border: 1px solid #cbcbcb;
  width: 45%;
}

button:hover{
  opacity: 0.8;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

.container {
  padding: 16px;
}

b {
  color: rgb(0, 0, 0);
  font-size: 20px;
}

.emails {
  margin-top: 10px;
  font-size: 1.2em;
}

.email {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}